*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: aileron, sans-serif;
}
.topnav {
    margin: 5px;
}
ul {
    list-style-type: one;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8F71B0;
}

li {
    float: left;
    list-style: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 400;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #536DB3;
}

body {
    display: grid;
    height: 100vh;
    width: 100%;
    align-items: top;
}

.graphic {
    margin: 2%;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;   
    width: 100%; 
    justify-content:space-between;
    align-items: top;
}

.logo {
    height:100px;
    width: 200px;
    margin-left: 10px;
    margin-top: 0;
    position: relative;
}

.chart{
    padding: 1%;
    align-items: center;
    justify-content: center;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 680px) {
    .topnav {
      display: none;
    }
    .graphic {
        margin: 0;
    }
    .chart {
        width: 100%;
    }
  }